<html>
    <head>
        <style>
         :root {
             --correct: #43a047; /* Material Green 600 */
             --incorrect: #e53935; /* Material Red 600 */
        }

         html {
             background-color: #fffff7;
         }

         .word-wrapper {
             margin: 2rem auto;
         }

         .word {
             background-color: var(--correct);
             color: white;
             border-radius: 0.5rem;
             padding: 0.25ch 0.5ch;
             font-size: 3rem;
             font-family: monospace;
             clear: both;

             transition: font-size 0.3s, padding 0.3s;
             transition-timing-function: easeInBack;
        }

         .word:hover {
             font-size: 3.3rem;
             padding: 0.5ch 1ch;
        }
        </style>
    </head>
    <body>
        <div id="app">
            <word v-for="word in words" v-bind:word="word" v-bind:key="word.id">
            </word>

        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script>
         Vue.component('word', {
             props: ['word'],
             template: '<div class="word-wrapper"><span class="word">{{ alphagram }}</span></div>',
             computed: {
                 alphagram: function() {
                     console.log(this.word);
                     return this.word.text.split('').sort().join('')
                 }
             }
         });

         var app = new Vue(
             {el: '#app',
              data: {
                  words: [
                      {id: 0, text: 'ETAERIO'},
                      {id: 1, text: 'ZYZZYVA'},
                      {id: 2, text: 'ETESIAN'}
                  ]
              }
         });
        </script>
    </body>
</html>
